@import "./rose-pine.css";
* {
    font-family: JetBrains Mono;
    font-size: 14px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text;
    transition-duration: .5s;
    border-radius: 0;
}

tooltip {
  background: @base;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: @overlay;
}

tooltip label {
  color: @theme_text_color;
}

#workspaces button {
    padding: 5px;
    color: @highlightMed;
    margin-right: 5px;
}

#workspaces button.active {
    color: @text;
}

#workspaces button.focused {
    color: @subtle;
    background: @love;
    border-radius: 8px;
}

#workspaces button.urgent {
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-notification {
    margin: 6px 3px;
    padding: 0 10px;
  
}

#window,
#workspaces {
    margin: 6px 3px;
    padding: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
