@import "./rose-pine.css";
* {
    all: unset;
    font-family: JetBrains Mono;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    color: @pine;
    transition-duration: .5s;
    border-radius: 0;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: @theme_text_color;
}

#workspaces button {
    padding: 0 0.7em;
    color: @rose;
}

#workspaces button.active {
    background-color: @iris;
}

#workspaces button.urgent {
    background-color: @iris;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-notification {
    margin: 6px 3px;
    padding: 0 10px;
  
}

#window,
#workspaces {
    margin: 6px 3px;
    padding: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
